@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --transparent: transparent;

    --gray-10: #f3f4f6;
    --gray-95: #030712;

    --background: var(--gray-10);
    --foreground: var(--gray-95);
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
    box-shadow: 0 0 0 5rem var(--transparent) inset;
    -webkit-box-shadow: 0 0 0 5rem var(--transparent) inset;
    transition: background-color 5000s ease-in-out 0s;
    -webkit-transition: background-color 5000s ease-in-out 0s;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: var(--gray-95);
    }
}

body {
    color: var(--foreground);
    background: var(--background);
}

@layer {
    .tableItens {
        @apply text-center align-middle px-1.5 py-1;
    }
}