@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --gray-10: #f3f4f6;
    --gray-95: #030712;

    --background: var(--gray-10);
    --foreground: var(--gray-95);
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: var(--gray-95);
    }
}

body {
    color: var(--foreground);
    background: var(--background);
}